<div class="shop-navbar-wrapper">
    <h3>Categories:</h3>
    <ul id="shop-navbar">
        <li class="nav-item">
            <a [routerLink]="['all']" routerLinkActive="active" class="nav-link text-dark">All</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['espresso']" routerLinkActive="active" class="nav-link text-dark">Espresso</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['filter']" routerLinkActive="active" class="nav-link text-dark">Filter</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['merchandise']" routerLinkActive="active" class="nav-link text-dark">Merchandise</a>
        </li>
    </ul>
</div>
