.navigation-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 4rem;
}

.navigation-mobile .nav-item {
	font-weight: 700;
	padding-bottom: 0.5rem;
}

.navigation-mobile .nav-item .nav-link {
  	font-size: 1.5rem;
}

.navigation-mobile .link-active {
  	color: var(--clr-orange-accent);
}

.contact-info-mobile {
  	text-transform: uppercase;
}

.social-media-mobile {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	gap: 1rem;
}

.social-media-mobile .social-media-icon {
	font-size: 1.5rem;
	cursor: pointer;
	transition: color ease 0.2s;
}

.social-media-mobile .social-media-icon:hover {
  	color: var(--clr-orange-accent);
}

/* Mobile Navbar Animation */
.navigation-mobile {
	padding-top: 3em;
	opacity: 0;
	margin-top: -50px;
	transition: opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.2s, 
				margin-top cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.2s;
}

.navigation-mobile .nav-item {
 	padding: 0.5em 0;
}

.navigation-mobile .nav-item:nth-child(1).fade-up {
	-webkit-animation: fade-up-first;
			animation: fade-up-first;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-timing-function: ease;
			animation-timing-function: ease;
	transition: -webkit-animation ease 0.5s;
	transition: animation ease 0.5s;
	transition: animation ease 0.5s, -webkit-animation ease 0.5s;
}

.navigation-mobile .nav-item:nth-child(2).fade-up {
	-webkit-animation: fade-up-second;
			animation: fade-up-second;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-timing-function: ease;
			animation-timing-function: ease;
	-webkit-animation-delay: 50ms;
			animation-delay: 50ms;
	opacity: 1;
	transition: opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.2s, -webkit-animation ease 0.5s;
	transition: animation ease 0.5s, opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.2s;
	transition: animation ease 0.5s, opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.2s, -webkit-animation ease 0.5s;
}

.navigation-mobile .nav-item:nth-child(3).fade-up {
	-webkit-animation: fade-up-third;
			animation: fade-up-third;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-timing-function: ease;
			animation-timing-function: ease;
	-webkit-animation-delay: 150ms;
			animation-delay: 150ms;
	opacity: 1;
	transition: opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.3s, -webkit-animation ease 0.5s;
	transition: animation ease 0.5s, opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.3s;
	transition: animation ease 0.5s, opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.3s, -webkit-animation ease 0.5s;
}

.navigation-mobile .nav-item:nth-child(4).fade-up {
	-webkit-animation: fade-up-third;
			animation: fade-up-third;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-timing-function: ease;
			animation-timing-function: ease;
	-webkit-animation-delay: 200ms;
			animation-delay: 200ms;
	opacity: 1;
	transition: opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.4s, -webkit-animation ease 0.5s;
	transition: animation ease 0.5s, opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.4s;
	transition: animation ease 0.5s, opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.4s, -webkit-animation ease 0.5s;
}

.navigation-mobile .nav-item:nth-child(5).fade-up {
	-webkit-animation: fade-up-third;
			animation: fade-up-third;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-timing-function: ease;
			animation-timing-function: ease;
	-webkit-animation-delay: 200ms;
			animation-delay: 200ms;
	opacity: 1;
	transition: opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.5s, -webkit-animation ease 0.5s;
	transition: animation ease 0.5s, opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.5s;
	transition: animation ease 0.5s, opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.5s, -webkit-animation ease 0.5s;
}

.fade-up {
	opacity: 1;
	margin-top: 0;
}

.contact-info-mobile,
.social-media-mobile {
	opacity: 0;
	padding: 0;
}

.contact-info-mobile.fade-up {
	-webkit-animation: fade-up-fourth;
			animation: fade-up-fourth;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-timing-function: ease;
			animation-timing-function: ease;
	-webkit-animation-delay: 300ms;
			animation-delay: 300ms;
	transition: -webkit-animation ease 0.5s;
	transition: animation ease 0.5s;
	transition: animation ease 0.5s, -webkit-animation ease 0.5s;
	opacity: 1;
	transition: opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.5s;
}

.social-media-mobile.fade-up {
	-webkit-animation: fade-up-last;
			animation: fade-up-last;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-timing-function: ease;
			animation-timing-function: ease;
	-webkit-animation-delay: 500ms;
			animation-delay: 500ms;
	transition: -webkit-animation ease 0.5s;
	transition: animation ease 0.5s;
	transition: animation ease 0.5s, -webkit-animation ease 0.5s;
	opacity: 1;
	transition: opacity cubic-bezier(0.1, 0.82, 0.76, 0.965) 0.7s 0.6s;
}

@-webkit-keyframes fade-up-first {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up-first {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-up-second {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-up-second {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-up-third {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-up-third {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-up-fourth {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-up-fourth {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-up-last {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-up-last {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
