<!-- Hero -->
<section id="hero" class="content bg-dark">
    <!-- Background Image -->
    <div class="item">
        <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
        </div>
    </div>
    <div class="bg-layer"></div>
    <div class="section-wrapper">
        <div class="hero-title">
            <p class="lead" data-aos="fade-up">Get in touch</p>
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Contact Us</h1>
            <p class="text-light" data-aos="fade-up" data-aos-delay="150">
                Email us for more info about our products or any of our locations.
            </p>
        </div>
    </div>
</section>

<!-- Section-1 -->
<section id="contact__section-1" class="bg-light">
    <div class="section-wrapper row">
        <div class="col col-left">
            <h2 class="text-dark" data-aos="fade-up">Send us a message</h2>
            <form action="" id="contact-form" data-aos="fade-up" data-aos-delay="100">
                <div class="field-wrapper">
                    <label for="name">
                        <input type="text" id="name" class="form-input" placeholder="Full Name">
                    </label>
                </div>
                <div class="field-wrapper">
                    <label for="email">
                        <input type="text" id="email" class="form-input" placeholder="Email Address">
                    </label>
                </div>
                <div class="field-wrapper">
                    <label for="message">
                        <textarea 
                            id="message"
                            class="form-input"
                            cols="30" 
                            rows="10" 
                            placeholder="Message"></textarea>
                    </label>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
        <div class="col col-right">
           <h2 class="text-dark" data-aos="fade-up">Or better yet, stop by and say hello!</h2>
           <ul class="location-list" data-aos="fade-up" data-aos-delay="100">
                <li>
                    <h3 class="text-accent">Coffee Shop</h3>
                    <p class="text-dark">2606 Saints Alley,<br> London, 22331</p>
                </li>
                <li>
                    <h3 class="text-accent">Cafe</h3>
                    <p class="text-dark">3497 Watson Street,<br> London, 22334</p>
                </li>
            </ul>
           <div class="contact-info text-dark" data-aos="fade-up" data-aos-delay="100">
                <h3 class="text-accent">Contact Info</h3>
                <p class="footer-text">
                    (222)-333-4444
                </p>
                <p class="footer-text">
                    koffee@emailexmpl.com
                </p>
           </div>
            <div class="social-media-wrapper" data-aos="fade-up" data-aos-delay="100">
                 <h3 class="text-accent">Follow Us</h3>
                <ul class="social-media-list">
                    <li class="social-media-icon">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </li>
                    <li class="social-media-icon">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </li>
                    <li class="social-media-icon">
                        <fa-icon [icon]="faTiktok"></fa-icon>
                    </li>
                    <li class="social-media-icon">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
