<!-- Hero -->
<section id="hero" class="content bg-dark">
    <!-- Background Image -->
    <div class="item">
        <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
        </div>
    </div>
    <div class="bg-layer"></div>
    <div class="section-wrapper">
        <div class="hero-title">
            <p class="lead" data-aos="fade-up">
    
            </p>
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Breakfast</h1>
            <p class="text-light" data-aos="fade-up" data-aos-delay="150">
                Explore our bagels, pastries and more
            </p>
        </div>
    </div>
</section>

<div class="menu-wrapper">
    <div class="menu-card section-wrapper">
        <div class="menu-grid">
            <div class="grid-block">
                <h3 class="text-accent">Bagels</h3>
                <ul class="menu-list">
                    <li *ngFor="let item of bagel" class="menu-item">
                        <span class="item-name text-white">{{ item.name }}</span>
                        <span class="item-price text-light">{{ item.price | currency }}</span>
                    </li>
                </ul>
            </div>
            <div class="grid-block">
                <h3 class="text-accent">Pastries</h3>
                <ul class="menu-list">
                    <li *ngFor="let item of pastry" class="menu-item">
                        <span class="item-name text-white">{{ item.name }}</span>
                        <span class="item-price text-light">{{ item.price | currency }}</span>
                    </li>
                </ul>
            </div>
            <div class="grid-block">
                <h3 class="text-accent">Sandwiches</h3>
                <ul class="menu-list">
                    <li *ngFor="let item of sandwich" class="menu-item">
                        <span class="item-name text-white">{{ item.name }}</span>
                        <span class="item-price text-light">{{ item.price | currency }}</span>
                    </li>
                </ul>
            </div>
            <div class="grid-block">
                <h3 class="text-accent">Other</h3>
                <ul class="menu-list">
                    <li *ngFor="let item of other" class="menu-item">
                        <span class="item-name text-white">{{ item.name }}</span>
                        <span class="item-price text-light">{{ item.price | currency }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
