#main-header {
	position: relative;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 3;
	padding: 1rem 0 0 0;
	overflow-x: hidden;
}

#main-header.nav-active {
	height: 100vh;
}

#top-navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: row;
	gap: 0;
	border-bottom: 1px solid var(--clr-grey);
	padding-bottom: 1rem;
}
#top-navbar .logo {
	width: 90px;
	height: auto;
}
#top-navbar .nav-btn-container .btn {
	background: none;
	border: none;
	padding: 0 0.85rem;
	font-size: 1.15rem;
}
#top-navbar .nav-btn-container .cart-btn {
  	position: relative;
}
#top-navbar .nav-btn-container .cart-btn .quantity {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: 0;
	gap: 0;
	position: absolute;
	top: -15px;
	right: -2px;
	width: 25px;
	height: 25px;
	border-radius: 5rem;
	background: var(--clr-orange-accent);
}

.nav-toggle {
	position: relative;
	width: 30px;
	height: 30px;
	display: none;
	cursor: pointer;
}
.nav-toggle .bar {
	height: 2.5px;
	width: 100%;
	margin: 7px 0;
	background: var(--clr-white);
	position: absolute;
	transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
	z-index: 5;
}

.nav-toggle .bar:nth-child(1) {
  	top: 0;
}

.nav-toggle .bar:nth-child(2) {
  	bottom: 0;
}

.nav-toggle .bar:nth-child(1).bar-active {
	transform: rotate(43deg);
	top: 7px;
	background-color: var(--clr-darker);
}

.nav-toggle .bar:nth-child(2).bar-active {
	transform: rotate(-43deg);
	width: 100%;
	bottom: 7px;
	background-color: var(--clr-darker);
}

.nav-toggle .bar.nav-dark {
  background: var(--clr-dark);
}

#main-header.nav-dark {
    position: relative;
}

#main-header.nav-dark #top-navbar {
	border-color: var(--clr-dark);
}

/* Responsive Style */
@media screen and (max-width: 900px) {
	#top-navbar {
		border-bottom: none;
	}

	#main-navigation {
		display: none;
	}

   .nav-btn-container {
        margin-left: 6.5rem;
    }

	#mobile-navbar.nav-active {
		position: fixed;
		right: 0;
	}

	#mobile-navbar,
	.nav-toggle {
		display: block;
	}
}