<ul [ngClass]="{'nav-dark': headerDark}" class="navigation col">
    <li class="nav-item">
        <a routerLink="" class="nav-link text-white">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="about" class="nav-link text-white">Who we are</a>
    </li>
    <li class="nav-item">
        <a routerLink="/shop" class="nav-link text-white">Coffee Shop</a>
    </li>
    <li class="nav-item">
        <a routerLink="cafe" class="nav-link text-white">Cafe</a>
    </li>
    <li class="nav-item">
        <a routerLink="contact" class="nav-link text-white">Contact Us</a>
    </li>
</ul>

