<!-- Hero -->
<section id="hero" class="content bg-dark">
    <!-- Background Image -->
    <div class="item">
        <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
        </div>
    </div>
    <div class="bg-layer"></div>
    <div class="section-wrapper">
        <div class="hero-title">
            <p class="lead" data-aos="fade-up">
                The Coffee house
            </p>
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">London Cafe</h1>
            <p class="text-light" data-aos="fade-up" data-aos-delay="150">
                Delicious coffee, great food and a comfortable atmosphere to meet friends.
            </p>
        </div>
    </div>
</section>

<section id="cafe__section-1" class="bg-light">
    <div class="section-wrapper row">
        <div class="col col-left">
            <figure>
                <img src="../../../../assets/images/video_bg.jpg" alt="">
            </figure>
        </div>
        <div class="col col-right">
            <div class="lead-wrapper" data-aos="fade-up">
                <span class="lead-marker"></span>
                <p class="lead">Koffee cafe bar</p>
            </div>
            <h2 class="text-dark" data-aos="fade-up">Enjoy the best coffee in town.</h2>
            <div class="section-content text-dark">
                <p data-aos="fade-up">
                    Get the best coffee anywhere in town at Koffee! We’re an old-fashioned coffee house, 
                    serving premium espresso, tea and other hot beverages. 
                    Take your drink to go or stay a while and enjoy our fresh, locally sourced food menu.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="cafe__section-2" class="bg-dark">
    <div class="section-wrapper row">
        <div class="info row">
            <div class="col col-left">
                <h2 class="text-accent">Location</h2>
                <p class="text-white">2606 Saints Alley,<br> London, 22331</p>
                <p class="text-white">(222)-333-4444</p>
            </div>
            <div class="col col-right">
                <h2 class="text-accent">Hours</h2>
                <h4 class="text-white">Monday - Friday</h4>
                <p class="text-light">6:00 AM - 9:30 PM</p>
                <h4 class="text-white">Saturday - Sunday</h4>
                <p class="text-light">6:00 AM - 8:00 PM</p>
            </div>
        </div>
        <figure class="col img-wrapper">
            <img src="../../../../assets/logo/Koffee-logo-2.png" alt="">
        </figure>
    </div>
</section>

<!-- Menu Block -->
<section id="menu-block" class="bg-light">
    <!-- Menu -->
    <app-menu-block></app-menu-block>
</section>