#hero {
  	height: 60vh;
}

#hero .section-wrapper {
    justify-content: flex-end;
    padding-bottom: 5rem;
}

h1 {
    margin-top: -1.5rem;
}

.bg-layer {
  	background: linear-gradient(to right, rgba(0, 0, 0, 0.974), rgba(0, 0, 0, 0.1));
}

.item__img-wrap .item__img {
	background-position: center center;
}

.item__img-wrap .item__img--t1 {
	--overflow: 0px;
	--image: url(../../../../assets/images/9-min.png);
}

/* Section 1 */
#about__section-1 {
  padding: 5rem 0;
}

#about__section-1 .row .col-right {
  padding-left: 60px;
}

/* Section 2 */
#about__section-2 {
  	padding: 3rem 0 5rem 0;
}

#about__section-2 .row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 3rem;
}

#about__section-2 .row .col-left p {
  	width: 90%;
}

#about__section-2 .btn {
	width: 300px;
	margin-top: 2rem;
	background: var(--clr-dark-blue);
	border: 1.5px solid var(--clr-dark-blue);
	color: var(--clr-white);
	transition: background-color ease 0.2s, color ease 0.2s;
	font-size: 1.3rem;
}

#about__section-2 .btn:hover {
  	background: var(--clr-dark);
}

#about__section-2 .btn .icon {
    padding-left: 0.5rem;
    color: var(--clr-orange-accent);
}

/* Responsive Style */
@media screen and (max-width: 900px) {
	#about__section-2 .row  {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column-reverse;
	}

	#about__section-2 .row .col-left p,
	#about__section-2 .btn {
		width: 100%;
	}
 	
	#about__section-1 .row .col-right {
		padding-left: 0;
	}

	.bg-layer {
		background: rgba(0, 0, 0, 0.636);
	}
}