<!-- Hero -->
<section id="hero" class="content bg-dark">
    <!-- Background Image -->
    <div class="item">
        <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
        </div>
    </div>
    <div class="bg-layer"></div>
    <div class="section-wrapper">
        <div class="hero-title">
            <p class="lead" data-aos="fade-up">About us</p>
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Who we are</h1>
            <p class="text-light" data-aos="fade-up" data-aos-delay="150">
                Koffee is a specialty coffee shop and bar that opened in 1997 with a dream
                to make great coffee, one cup at a time.
            </p>
        </div>
    </div>
</section>
    <!-- section-1 -->
<section id="about__section-1" class="bg-light">
    <div class="section-wrapper row">
        <div class="col col-left">
            <figure>
                <img src="../../../../assets/images/manki-kim-aHXGRIooMi0-unsplash-min.jpg" alt="">
            </figure>
        </div>
        <div class="col col-right">
            <div class="lead-wrapper" data-aos="fade-up">
                <span class="lead-marker"></span>
                <p class="lead">Our story</p>
            </div>
            <h2 class="text-dark" data-aos="fade-up">Where it began</h2>
            <div class="section-content text-dark">
                <p data-aos="fade-up">
                    We provide you with the highest quality coffee in the market. 
                    Our products are either organic, or we use fair trade practices and environmentally 
                    friendly packaging. 
                </p>
                <p data-aos="fade-up">
                    Our coffee beverages come in a variety of sizes and flavors 
                    to meet your needs and our coffee beans are always fully roasted. 
                    We work with small family farms that are committed to sustainable practices and 
                    quality product.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Section-2 -->
<section id="about__section-2" class="bg-light">
    <div class="section-wrapper row">
        <div class="col col-left">
            <div class="lead-wrapper" data-aos="fade-up">
                <span class="lead-marker"></span>
                <p class="lead">From bean to a cup</p>
            </div>
            <h2 class="text-dark" data-aos="fade-up">Extraordinary Taste</h2>
            <div class="section-content text-dark">
                <p data-aos="fade-up">
                    We provide you with the highest quality coffee in the market. 
                    Our products are either organic, or we use fair trade practices and environmentally 
                    friendly packaging. 
                </p>
                <p data-aos="fade-up">
                    Our coffee beverages come in a variety of sizes and flavors 
                    to meet your needs and our coffee beans are always fully roasted. 
                    We work with small family farms that are committed to sustainable practices and 
                    quality product.
                </p>
                <button class="btn" data-aos="fade-up">
                    <span>Discover Our Cafe</span>
                    <fa-icon class="icon" [icon]="faChevronRight"></fa-icon>
                </button>
            </div>
        </div>
        <div class="col col-right">
            <figure>
                <img src="../../../../assets/images/brent-gorwin-vhQUnmnOLys-unsplash-min.jpg" alt="">
            </figure>
        </div>
    </div>
</section>
