<div class="section-wrapper">
    <div class="section-header">
        <p class="lead">Fan Favourite</p>
        <h2 class="text-dark">Koffee Menu</h2>
    </div>

    <div id="menu" class="menu-wrapper row">
        <div routerLink="/cafe/drinks"  class="col col-left" data-aos="fade-up">
            <!-- Background Image -->
            <div class="item">
                <div class="item__img-wrap">
                    <div class="item__img item__img--t2"></div>
                </div>
            </div>
            <div class="bg-layer"></div>
            <h2 class="text-white">Drinks</h2>
        </div>
        <div routerLink="/cafe/food" class="col col-right" data-aos="fade-up">
            <!-- Background Image -->
            <div class="item">
                <div class="item__img-wrap">
                    <div class="item__img item__img--t3"></div>
                </div>
            </div>
            <div class="bg-layer"></div>
            <h2 class="text-white">Food</h2>
        </div>
    </div>
</div>
