.slider-wrapper {
	margin: 1rem 0;
	position: relative;
	overflow: hidden;
}

.row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 3rem 0 0 0;
}


.product-card {
	padding: 2rem 2rem 1rem 2rem;
	background: var(--clr-dark-blue);
  	cursor: pointer;
}

.product-card:hover {
	background: #131a20;
	transition: background ease 0.2s;
}

.product-card figure {
  	width: 300px;
	margin: auto;
}

.product-card figure img {
  	filter: drop-shadow(0px 14px 7px #000000);
}

.product-card .counter-wrapper {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: row;
	gap: 0;
	font-size: 1.15rem;
}

.product-card .counter-wrapper .remove,
.product-card .counter-wrapper .add {
	padding: 0.2rem 0.5rem;
	background: var(--clr-grey);
	border: none;
	font-weight: 700;
	cursor: pointer;
}

.product-card .counter-wrapper .item-counter {
	padding: 0.2rem 1rem;
	background: var(--clr-white);
}

.product-card .counter-wrapper .add-cart {
	border: none;
	padding: 0.2rem 1rem;
	background: var(--clr-orange-accent);
}

.product-card .product-details {
  	padding: 1rem 0;
}

 .product-card p {
  	padding: 0;
}

.slides-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	justify-items: start;
	list-style: none;
	overflow: scroll;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.slides-container::-webkit-scrollbar {
  	display: none;
}

.slide {
	width: 100%;
	height: 100%;
	flex: 1 0 100%;
}

.slide-arrow {
	position: absolute;
	display: flex;
	align-items: center;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
	height: 6rem;
	background: var(--clr-white);
	color: var(--clr-dark-blue);
	border: none;
	width: 3rem;
	font-size: 2.3rem;
	padding: 0;
	cursor: pointer;
	opacity: 0.5;
	transition: opacity 100ms;
	z-index: 2;
}

.slide-arrow:hover,
.slide-arrow:focus {
  	opacity: 1;
}

#slide-arrow-prev  {
	left: 0;
	padding-left: 0.35rem;
	border-radius: 0 4rem 4rem 0;
}

#slide-arrow-next {
	right: 0;
	padding-left: 0.85rem;
	border-radius: 4rem 0 0 4rem;
}


@media screen and (max-width: 900px) {
  	.slides-container {
        width: auto;
		margin-left: 1rem;
    }

    .slide {
        display: flex;
        justify-content: flex-start;
        width: 102%;
        flex: none;
    }

	.slide-arrow  {
        display: none;
    }

	.product-card {
		padding: 0 1rem;
	}
}