<!-- Main Footer -->
<section id="main-footer" class="bg-dark">
    <div class="section-wrapper row">
        <div class="col">
            <figure class="logo-container">
                <img routerLink="" src="./assets/logo/Koffee-logo-2.png" alt="" class="logo">
                <figcaption>
                    <p class="lead">Tradition. Passion. Taste.</p>
                </figcaption>
            </figure>
        </div>
        <div class="col">
            <h3 class="text-white">Find Us</h3>
            <ul class="location-list">
                <li>
                    <h4>Coffee Shop</h4>
                    <p class="text-light">2606 Saints Alley,<br> London, 22331</p>
                </li>
                <li>
                    <h4>Cafe</h4>
                    <p class="text-light">3497 Watson Street,<br> London, 22334</p>
                </li>
            </ul>
        </div>
        <div class="col">
            <h3 class="text-white">Support</h3>
            <ul class="footer-nav">
                <li class="nav-item">
                    <a routerLink="" class="nav-link">Coffee Shop</a>
                </li>
                <li class="nav-item">
                    <a routerLink="cafe" class="nav-link">Cafe</a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link">Locations</a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <h3 class="text-white"> Contact Us</h3>
            <p class="footer-text">(222)-333-4444</p>
            <p class="footer-text">koffee@emailexmpl.com</p>
            <div class="social-media-wrapper">
                <h3 class="text-light">Follow Us</h3>
                <ul class="social-media-list">
                    <li class="social-media-icon">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </li>
                    <li class="social-media-icon">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </li>
                    <li class="social-media-icon">
                        <fa-icon [icon]="faTiktok"></fa-icon>
                    </li>
                    <li class="social-media-icon">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="sub-footer" class="bg-darker text-light">
    <div class="section-wrapper">
        <p class="copyright">Copyright &copy; 1997-2022 Koffee. All rights reserved.</p>
        <figure class="payment-wrapper">
            <img src="./assets/images/mastercard.png" alt="" width="35" height="35" class="payment-icon">
            <img src="./assets/images/visa.png" alt="" width="35" height="35"  class="payment-icon">
            <img src="./assets/images/amex.png" alt="" width="35" height="35"  class="payment-icon">
        </figure>
    </div>
</footer>
