<div class="products-grid animate__animated animate__fadeIn animate__delay-1s animate__faster">
    <div class="product-card" *ngFor="let item of products">
        <figure>
            <img src="{{ item.image.regular }}" routerLink="/shop/product/{{item.id}}" alt="">
            <figcaption class="product-add-btn">
                <button (click)="this.cart.addProduct(item);">
                    <span>Quick Add</span>
                <fa-icon [icon]="faShoppingBag" class="fa-icon"></fa-icon>
                </button>
            </figcaption>
        </figure>
        <div class="product-details">
            <h3 class="text-dark" routerLink="/shop/product/{{item.id}}">{{ item.name }}</h3>
            <p class="lead price">{{ item.price | currency: 'EUR' }}</p>
            <p class="product-type text-dark">{{ item.type }}</p>
        </div>
    </div>
</div>

